<h1>Listing posts</h1>
<% if user_signed_in? %>
  <%= link_to "logout" , destroy_user_session_path, :method => :delete %><br />
  <%= current_user.username %><br />
<% end %>
<table>
  <thead>
    <tr>
      <th>Tresc</th>
      <th>Title</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  
    <% @posts.each do |post| %>
     <% if current_user.id == post.user_id %>
      <tr>

        <td><%= post.tresc %></td>
        <td><%= post.title %></td>
       
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
       
      </tr>
       <% else %>
          <%= "Uzytkownik nie ma postow" %>
        <% end %>
    <% end %>
    
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
